/* styles for audio player */

.dal_audioplayer {
  width: 100%;
  max-width: 30em;
  margin: 0 auto;
  background: #eee;
  padding: 0;
  border: 2px #aaa solid;
  border-radius: .5em;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  margin: 0;
  list-style-type: none;
}
ul li:first-child {
  margin-top: 0;
}
ul li:last-child {
  margin-bottom: 0;
}

/* tracks styling */
.apTrack {
  padding: .5em 1em;
  margin: 0;
  border-bottom: 1px #aaa solid;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .5s;
}
.apTrack:last-child {
}

.apTrack:hover, .apTrack:focus {
  background: #aaa;
  outline: none;
}

.apTrack.apActive {
  font-weight: bold;
  background: #ccc;
}

.apTrack .apDuration {
  background: transparent;
  text-align: right;
}

/* the area for the progress bar and duration */
.apProgress {
  margin: 0;
  padding: 0;
  height: .6em;
}

.apSeekBar {
  width: 100%;
  background: #ccc;
  height: 100%;
  float: left;
  position: relative;
  cursor: default;
}
.apSeekBar:hover {
  cursor: pointer;
}

.apProgressBar {
  position: absolute;
  bottom: 0;
  width: 0;
  background: #999;
  height: .6em;
}

.apIndicatorBar {
  position: absolute;
  bottom: 0;
  width: 0;
  background: #000;
  opacity: .0;
  height: .6em;

  transition-duration: .5s;
  transition-property: opacity;
}


.apDuration {
  box-sizing: border-box;
  width: 4rem;
  height: 100%;
  float: right;
  font-size: 0.85em;
  padding-top: 0.1em;
  text-align: center;
  background: #ccc;
  vertical-align: middle;
}

/* the area for the buttons play/pause, stop, previous and next */
.apControls {
  text-align: center;
  background: #aaa;
  padding: 1em;
  padding-bottom: 1.1em;
  vertical-align: top;
}

.apControls:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.apControls:after { display: inline-block; }
/* start commented backslash hack \*/
* html .apControls:after { height: 1%; }
.apControls:after { display: block; }
/* close commented backslash hack */



.apControls .apPane {
  box-sizing: border-box;
  float: left;
  margin: 0;
}

.apPane.left {
  text-align: left;
  width: 50%;
}
.apPane.right {
  text-align: right;
  width: 50%;
}

.apControls .apPane .apControl {
  vertical-align: top;
  position: relative;
  display: inline-block;
  padding: 0.5em;
  margin: 0 0.3em;
  margin-top: 2px;

  font-weight: bold;
  color: #404040;
  background: none;
  border: 2px #404040 solid;
  border-radius: 3em;
  cursor: pointer;

  transition-property: all;
  transition-duration: 0.1s;
}

.apControls .apControl:hover, .apControls .apControl:focus {
  margin-top: 0;
  background: #eee;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  outline: none;
}




.apVolumePanel {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-top: .6em;
  width: 0px;
  height: .6em;
  background: transparent;
  border-style: solid;
  border-radius: .5em;
  border-color: #404040;
  border-width: 0;
  overflow: hidden;

  transition-duration: .3s;
  transition-property: width, margin;
}
.apVolumePanel:hover {
  cursor: pointer;
}

.opened {
  border-color: #404040;
  border-width: 2px;
  margin-left: .3em;
  margin-right: .3em;
  width: 75px;
}
.closed {
  border-color: #404040;
  margin-left: 0;
  margin-right: 0;
  width: 0;
  border-width: 2px;
}
.hidden {
  border-width: 0;
}

.apVolumePanel .apIndicatorBar {
  top: 0;
  height: 1em;
  opacity: .3;
}
